body {
	font-family: "Noto Sans JP", "YuGo-Medium";
}

.main {
	height: 100vh;
}

.icon {
	border-radius: 50%;
	width: 15vh;
	height: 15vh;
	object-fit: cover;
}

.icon-margin {
	margin: 0 auto;
	width: 15vh;
	margin-top: 30vh;
}

h1 {
	color: black;
	font-size: 4vh !important;
	padding: 0;
	margin: 5px;
}

body {
	font-family: "Noto Sans JP", "YuGo-Medium";
	margin: 0;
}

html,
body {
	overflow: hidden;
}


.link,
.name,
p,
h1,
h2 {
	margin: 1vh auto;
	color: rgba(145, 145, 145, 0.5);
	font-size: 3vh;
	margin: 5px auto !important;
	text-align: center;
	width: 50%;
}

.link-icon {
	display: flex;
	margin: 1vh;
}