body {
	font-family: "Noto Sans JP", "YuGo-Medium";
}

.icon {
	border-radius: 50%;
	width: 15vh;
	height: 15vh;
	object-fit: cover;
}

.icon-margin {
	margin: 0 auto;
	width: 15vh;
	margin-top: 30vh;
}

h1 {
	color: black;
	font-size: 1em;
	padding: 0;
	margin: 0;
}






body {
	font-family: "Noto Sans JP", "YuGo-Medium";
	margin: 0;
}

html,
body {
	overflow: hidden;
}


.sns-link,
.name,
p,h1{
	margin: 1vh auto;
	color: rgba(145, 145, 145, 0.5);
	font-size: 0.8vh;
	margin: 0 auto !important;
	text-align: center;
}

.name,
.sns-link {
	font-size: 4vh;
}